.header
    nav
        ul(class="main-nav clearfix")
            li 
                a(href="/") Home
            li 
                a(href="/cart") Cart
            li 
                a(href="/product") Categories
            li 
                a(href="/click") Click Me
            li 
                a(href="/product" class="cta") Contact
   
