extends base

block content
    h1.headerIntro Welcome To TeckWrld 
    p(class="header_text") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis praesentium laudantium adipisci qui aliquam unde est sit reprehenderit, rerum, similique quod iusto?
    .backgroundcircle


    img(src="/images/header/shoes_header1.jpg", alt="Header shoes",class="header_icon_border_vertical animate__animated animate__fadeInDown")
    img(src="/images/header/kilishi_header.jpg", alt="Header kilishi",class="header_icon_border_horizontal animate__animated animate__fadeInLeft")

